<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password_css/forg_pw.css') }}">
    <title>Forgot Password</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <h1>FORBES</h1>
        </div>
        <div class="form-div">
            <h2>Enter your e-mail</h2>
            <form method='post'>
                {{ form.hidden_tag() }}

                {{ form.email.label }}
                {{ form.email(size=32, class_='mail') }}

                {{ form.submit() }}
            </form> 
        </div>
    </div>
</body>
</html>
