<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password_css/res_pw.css') }}">
    <title>Reset password</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <h1>FORBES</h1>
        </div>
        <div class="form-div">
            <h2>Reset your password</h2>
            <form method="post" action="{{ url_for('pw.reset_password['token']') }}">
                {{ form.hidden_tag() }}

                {{ form.password.label }}
                {{ form.password(size=32, class_='password')}}

                {{ form.confirm_password.label }}
                {{ form.confirm_password(size=32, class_='password') }}

                {{ form.submit(class_='submit_btn') }}
                
            </form> 
        </div>
    </div>
</body>
</html>
